---
layout: base
metadata:
  title: "Microblog"
  helmet: >
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="Microblog">
    <link href="/public/bookshop.css" rel="stylesheet">
    <link href="/public/prism-okaidia.css" rel="stylesheet">
    <script src="/public/is-land.js" type="module"></script>
---
<div class="c-microblog">
	{% include "search.liquid" %}
	{% bookshop_include "page" content_blocks: content_blocks %}
	{% include "metadata.liquid" %}
</div>
