<div class="c-search">
	<!-- Use any of is-land’s on: conditions -->
	<is-land on:idle on:visible>
		<pagefind-search></pagefind-search>
	</is-land>
</div>
<script type="module" src="/public/pagefind-search.js"></script>